.layout {
  display: flex;
  flex-flow: column;
  height: 100%;
  &-wrap {
    flex: 1;
    min-height: 100px;
    overflow-y: auto;
  }
  .van-cell-group {
    &::after {
      content: none;
    }
  }
}

.button-wrap {
  padding: calc(var(--box-padding) / 2) var(--box-padding);
}

.tip {
  color: #999;
  font-size: var(--font-xs);
  padding: 16px 32px;
}
